<div class="header-top">
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
      <i class="fas fa-chevron-down mr-2"></i>
      {{user.firstName}} {{user.lastName}}
      <i class="fas fa-user-circle ml-2"></i>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <!--<li role="menuitem">
        <button class="dropdown-item" (click)="openUserSettings()">
          הגדרות יוזר
          <i class="fas fa-user-circle ml-2"></i>
        </button>
      </li>-->
      <li role="menuitem">
        <a class="dropdown-item" (click)="logout()">
          יציאה מהמערכת
          <i class="fas fa-sign-out-alt ml-2"></i>
        </a>
      </li>
    </ul>
  </div>
 
  <app-global-search></app-global-search>

  <a routerLink="maamarim" class="logo">
    <img [src]="util.getAssestPrefix() + 'assets/images/svg/nesivos akodesh logo.svg'">
  </a>
</div>
<div class="header-bottom">
  <nav class="ml-auto">
    <ul>
      <li *ngIf="user.isAdmin || user.hasTopicsAccess">
        <a routerLink="settings/users" routerLinkActive="active">הגדרות</a>
      </li>
      <li *ngIf="user.hasSourcesAccess">
        <a routerLink="sources" routerLinkActive="active">מקורות</a>
      </li>
     <!-- <li>
        <a routerLink="projects" routerLinkActive="active">פראגעקטס</a>
      </li>-->
      <li *ngIf="user.hasTorhasAccess">
        <a routerLink="library" routerLinkActive="active">ספריית ספרים</a>
      </li>
      <li *ngIf="user.hasTorhasAccess">
        <a routerLink="sefurim" routerLinkActive="active">ספרים</a>
      </li>
      <li *ngIf="user.hasTorhasAccess">
        <a routerLink="torahs" routerLinkActive="active">תורת</a>
      </li>
      <li *ngIf="user.hasMaamarimAccess">
        <a routerLink="maamarim" routerLinkActive="active" >אוצר דברי רבינו</a>
      </li>
    </ul>
  </nav>
</div>
