.form-control .status {
  background-color: #FF595F;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  padding: 0px 4px;
}
